*
!.gitignore
!CMakeLists.txt

!Alexander_Melnik/
!Alexander_Melnik/*

!Alexey_Remigailo/
!Alexey_Remigailo/*

!Dmitry_Fedorenko/
!Dmitry_Fedorenko/*

!Dmitry_Zvezdetskiy/
!Dmitry_Zvezdetskiy/*

!Eduard_Nekrasov/
!Eduard_Nekrasov/*

!Marina_Gribacheva/
!Marina_Gribacheva/*

!Nikita_Larichev/
!Nikita_Larichev/*

!Vitaly_Vesyolko/
!Vitaly_Vesyolko/*

!*.md
!*.c
!*.h
!*.cpp
!*.hpp
