*
!*.md
!*.c
!*.h
!*.cpp
!*.hpp
!.gitignore
!CMakeLists.txt
!cmake-build-debug/*
!cmake-build-debug
!Alexander_Melnik/*
!Alexey_Remigailo/*
!Dmitry_Fedorenko/*
!Dmitry_Zvezdetskiy/*
!Eduard_Nekrasov/*
!Marina_Gribacheva/*
!Nikita_Larichev/*
